{{template "header" .}}
<div class="px-6">
  <h1 class="py-4 text-4xl semibold tracking-tight">Contact Me</h1>
  <p class="text-gray-800">
    To get in touch, email me at <a class="underline text-indigo-700" href="mailto:peter.kerschbaumer.es">peter@kerschbaumer.es</a>.
  </p>
</div>
{{template "footer" .}}